#include "ExternalDependencies.xcconfig"

SDKROOT = macosx

CLANG_CXX_LANGUAGE_STANDARD = c++0x
CLANG_CXX_LIBRARY = libc++

COMBINE_HIDPI_IMAGES = YES

OTHER_CFLAGS = -fvisibility=hidden
OTHER_LDFLAGS = -ObjC -framework boost

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = ../Source/ui_macosx/Purei_Prefix.pch
GENERAL_GCC_PREPROCESSOR_DEFINITIONS = _IOP_EMULATE_MODULES

CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_UNDECLARED_SELECTOR = YES

GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_INPUT_FILETYPE = sourcecode.cpp.objcpp

FRAMEWORK_SEARCH_PATHS = $(BOOST_FRAMEWORK_PATH)
HEADER_SEARCH_PATHS = $(BOOST_FRAMEWORK_PATH)/boost.framework/Headers $(CODEGEN_PATH)/include $(FRAMEWORK_PATH)/include ../include
