.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span.version {
  position: absolute;
  bottom: 0;
  left: 0;
  color: darkgray;
  font-size: smaller;
}

span.stats {
  float: right;
}

canvas {
  aspect-ratio: 4 / 3;
  width: 100%
}

.global-row {
  display: flex;
}

.global-column {
  margin: 20px;
  flex: 50%;
}

.controls-row {
  display: flex;
}

.controls-column {
  flex: 50%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}