#include "resource.h"
#include <windows.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAIN_MENU MENU
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "Open...",                     ID_FILE_OPEN
        MENUITEM SEPARATOR
        MENUITEM "Quit",                        ID_FILE_QUIT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

