[submodule "deps/Dependencies"]
	path = deps/Dependencies
	url = https://github.com/jpd002/Play-Dependencies.git
[submodule "deps/Framework"]
	path = deps/Framework
	url = https://github.com/jpd002/Play--Framework.git
[submodule "deps/CodeGen"]
	path = deps/CodeGen
	url = https://github.com/Dmamss/Play--CodeGen
[submodule "deps/Nuanceur"]
	path = deps/Nuanceur
	url = https://github.com/jpd002/Nuanceur.git
[submodule "deps/libchdr"]
	path = deps/libchdr
	url = https://github.com/jpd002/libchdr.git
[submodule "deps/AltKit"]
	path = deps/AltKit
	url = https://github.com/Dmamss/AltKit.git
