.gradle
build_android/build
build_android/src/main/libs
build_android/src/main/obj
build_android/src/main/assets/patches.xml
build_android/src/main/jni/ExternalDependencies.mk
build_android/local.properties
build_android/proguard-project.txt
build_ios/Pods
build_unix/build
build_unix/build-ui
Source/build-ui_*
Debug
Release
ReleaseWithDebugger
DebugAot
ReleaseAot
*.aps
*.ipch
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.suo
*.user
*.userprops
*.orig
*.xccheckout
*.xcscmblueprint
xcuserdata

