.gradle
build_android/build
build_android/src/main/assets/patches.xml
build_android/keystore.properties
build_android/local.properties
build_android/proguard-project.txt
build_android/.*
!build_android/.idea/codeStyleSettings.xml
build_android/*.apk
build_android/Play.iml
build_android/projectFilesBackup/
build_ios/Pods
build_unix/build*
build_cmake/build*
build-build_cmake*
Source/build-ui_*
Debug
DebugWithDebugger
Release
ReleaseWithDebugger
DebugAot
ReleaseAot
*.aps
*.ipch
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.suo
*.user
*.userprops
*.orig
*.xccheckout
*.xcscmblueprint
xcuserdata

