<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.59.0.0" targetFramework="Native" />
  <package id="boost_chrono-vc140" version="1.59.0.0" targetFramework="Native" />
  <package id="boost_date_time-vc140" version="1.59.0.0" targetFramework="Native" />
  <package id="boost_filesystem-vc140" version="1.59.0.0" targetFramework="Native" />
  <package id="boost_system-vc140" version="1.59.0.0" targetFramework="Native" />
  <package id="boost_thread-vc140" version="1.59.0.0" targetFramework="Native" />
  <package id="glew.v140" version="1.12.0" targetFramework="Native" />
</packages>