name: Build Windows

on: [push, pull_request]
env:
  VULKAN_SDK_VERSION: '1.2.131.1'
  QT_VERSION: '5.15.2'
jobs:
  build_windows:
    strategy:
      matrix:
        build-type: ['Visual Studio 16 2019']
        target-platform: ['x64', 'Win32']
        include: 
          - target-platform: 'x64'
            arch-type: 'x86_64'
            qt-arch: 'win64_msvc2019_64'
            installer-script: 'installer64.nsi'
          - target-platform: 'Win32'
            arch-type: 'x86_32'
            qt-arch: 'win32_msvc2019'
            installer-script: 'installer32.nsi'
    runs-on: windows-latest
    steps:
    - name: Cache Qt
      id: cache-qt
      uses: actions/cache@v1
      with:
        path: ../Qt
        key: ${{ runner.os }}-${{ matrix.qt-arch }}-QtCache
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: recursive
        fetch-depth: 0
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Cache Vulkan SDK
      if: ${{ matrix.aot-build == 'off' }}
      uses: actions/cache@v2
      id: cache-vulkansdk
      with:
        path: VulkanSDK.exe
        key: ${{ runner.os }}-VulkanSDK
    - name: Download Vulkan SDK
      if: steps.cache-vulkansdk.outputs.cache-hit != 'true'
      run: curl -L --silent --show-error --output VulkanSDK.exe https://sdk.lunarg.com/sdk/download/${{ env.VULKAN_SDK_VERSION }}/windows/VulkanSDK-${{ env.VULKAN_SDK_VERSION }}-Installer.exe?Human=true
    - name: Install Vulkan SDK
      run: |
        .\VulkanSDK.exe /S
        echo "VULKAN_SDK=C:\VulkanSDK\${{ env.VULKAN_SDK_VERSION }}" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
    - name: Install OpenAL
      uses: crazy-max/ghaction-chocolatey@v1
      with:
        args: install -y openal openalsdk
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        version: ${{ env.QT_VERSION }}
        arch: ${{ matrix.qt-arch }}
        cached: ${{ steps.cache-qt.outputs.cache-hit }}
    - name: Set SHORT_HASH
      run: echo "::set-output name=VALUE::${LONG_HASH:0:8}"
      id: short_hash
      env:
        LONG_HASH: ${{ github.sha }}
    - name: Generate CMake Project
      run: |
        mkdir build
        cd build
        cmake .. -G"${{ matrix.build-type }}" -A ${{ matrix.target-platform }} -T v141_xp -DUSE_QT=on -DBUILD_LIBRETRO_CORE=yes
    - name: Build
      run: |
        cd build
        cmake --build . --config Release
    - name: Run Tests
      run: |
        cd build
        ctest -C Release

    - name: Prepare Installer Package
      run: |
        cd build
        ${{ env.Qt5_DIR }}\bin\windeployqt.exe ./Source/ui_qt/Release --no-system-d3d-compiler --no-quick-import --no-opengl-sw --no-compiler-runtime --no-translations

        cd ..
        makensis.exe ./installer_win32/${{ matrix.installer-script}}
    - name: Upload a Build Artifact Installer
      uses: actions/upload-artifact@v2
      with:
        name: Play_Windows_${{ matrix.target-platform }}_Installer
        path: installer_win32\*.exe
    - name: Upload a Build Artifact Libretro Core
      uses: actions/upload-artifact@v2
      with:
        name: Play_Windows_${{ matrix.target-platform }}_libretro
        path: build\Source\ui_libretro\Release\play_libretro.dll
    - name: Upload to S3
      if: ${{ env.AWS_ACCESS_KEY_ID != null}}
      run: |
        aws s3 cp installer_win32/*.exe s3://playbuilds/$SHORT_HASH/ --acl public-read
        aws s3 cp build/Source/ui_libretro/Release/play_libretro.dll s3://playbuilds/$SHORT_HASH/play_libretro_$ARCH_TYPE.dll --acl public-read
      env:
        ARCH_TYPE: ${{ matrix.arch-type }}
        SHORT_HASH: ${{ steps.short_hash.outputs.VALUE }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: 'us-east-2'
