name: Build JavaScript

on: 
  push:
  pull_request:
  workflow_dispatch:
jobs:
  build_js:
    runs-on: ubuntu-latest
    steps:
    - name: Setup Emscripten
      uses: mymindstorm/setup-emsdk@v12
      with:
        version: 4.0.1
    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install ninja-build
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: recursive
        fetch-depth: 0
    - name: Generate CMake Project
      run: emcmake cmake --preset wasm-ninja
    - name: Build Native Code
      run: cmake --build --preset wasm-ninja-release
    # Setup Node.js since Emscripten can override the node's version.
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 20.17
    - name: Run CodeGenTestSuite
      run: |
        cd $GITHUB_WORKSPACE/deps/CodeGen/js
        npm install
        tsc
        cd $GITHUB_WORKSPACE/build_cmake/build/wasm-ninja/Source/ui_js/Source/CodeGen/Release
        node $GITHUB_WORKSPACE/deps/CodeGen/js/out/index.js
    - name: Build Play Browser
      run: |
        PLAYJS_BUILD_DIR=$GITHUB_WORKSPACE/build_cmake/build/wasm-ninja/Source/ui_js/Release/
        cd js/play_browser
        cp $PLAYJS_BUILD_DIR/Play.js ./src/
        cp $PLAYJS_BUILD_DIR/Play.wasm ./public/
        cp $PLAYJS_BUILD_DIR/Play.js ./public/
        export REACT_APP_VERSION=$(git describe)
        npm install
        npm run build
    - name: Upload Play.js and Play.wasm artifacts
      uses: actions/upload-artifact@v4
      with:
        name: play-wasm-files
        path: |
          build_cmake/build/wasm-ninja/Source/ui_js/Release/Play.js
          build_cmake/build/wasm-ninja/Source/ui_js/Release/Play.wasm
        retention-days: 30
    - name: Upload Play Browser build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: play-browser-build
        path: js/play_browser/build
        retention-days: 30
    - name: Build PsfPlayer Browser
      run: |
        PSFPLAYERJS_BUILD_DIR=$GITHUB_WORKSPACE/build_cmake/build/wasm-ninja/tools/PsfPlayer/Source/ui_js/Release/
        cd js/psfplayer_browser
        cp $PSFPLAYERJS_BUILD_DIR/PsfPlayer.wasm ./src/
        cp $PSFPLAYERJS_BUILD_DIR/PsfPlayer.js ./src/
        cp $PSFPLAYERJS_BUILD_DIR/PsfPlayer.wasm ./public/
        cp $PSFPLAYERJS_BUILD_DIR/PsfPlayer.js ./public/
        export REACT_APP_VERSION=$(git describe)
        npm install
        npm run build
    - name: Upload PsfPlayer Browser build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: psfplayer-browser-build
        path: js/psfplayer_browser/build
        retention-days: 30
